<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
   <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      /* background-color: #f4f4f4; */
    }

    .header-container {
      text-align: center;
      background-color: #FFA500;
      color: #fff;
      padding: 20px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    h1 {
      margin: 0;
    }
  </style>
</head>

<article class="auth-container" id="new-customer">
<div class="header-container">
    <h1><%= "Login/Signup" %></h1>
  </div>
  <%= render 'shared/error_messages', target: resource %>

  <%= form_for resource, as: :spree_user, url: registration_path(resource), html: { class: "auth-form" } do |f| %>
    <%# <div class="auth-form__input-wrapper">
      <div class="text-input">
        <%= f.label :email, "#{t("spree.email")}:" %>
        <%#= f.email_field :email, placeholder: 'name@example.com' %>
      <%# </div> %>
    <%# </div> %>

    <div class="auth-form__input-wrapper">
        <%= f.label :phone_number %>
        <div class="phone-number-input"> <!-- Adjust the width as needed -->
          <%= f.hidden_field :phone_country_code, id: 'phone_country_code' %>
          <%= f.text_field :phone_number, placeholder: 'Enter Your Mobile Number', required: true, class: 'phone-number intl-tel-input', style: 'width: 100%;' %>
        </div>
    </div>

    <div class="auth-form__input-wrapper">
      <%= f.button "Send OTP", name: :commit, class: 'button-primary button-primary--full-width' %>
    </div>

    <%#= I18n.t("spree.or") %> <%#= link_to I18n.t("spree.login_as_existing"), login_path %>
  <% end %>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const phoneNumberField = document.querySelector(".phone-number");
      const phoneCountryCodeField = document.querySelector("#phone_country_code");
      const form = document.querySelector('.auth-form');

      let iti = window.intlTelInput(phoneNumberField, {
        initialCountry: "in",
        separateDialCode: true,
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        formatOnDisplay: false,
      });

      // Listen for changes to the input field
      phoneNumberField.addEventListener('countrychange', function() {
        // Get the selected country data
        let countryData = iti.getSelectedCountryData();
        // Set the value of the phoneCountryCodeField to the country code
        phoneCountryCodeField.value = countryData.dialCode;
      });

      // Listen for the form's submit event
      form.addEventListener('submit', function(event) {
        // Get the selected country data
        let countryData = iti.getSelectedCountryData();
        // Set the value of the phoneCountryCodeField to the country code
        phoneCountryCodeField.value = countryData.dialCode;
      });
    });

  </script>
</article>
